# Airtable API credentials
AIRTABLE_API_KEY='your_airtable_api_key_here'
AIRTABLE_BASE_ID='your_airtable_base_id_here'
AIRTABLE_TABLE_NAME='your_airtable_table_name_here'
OPENAI_API_KEY_1='your_openai_api_key_1_here'
OPENAI_API_KEY='your_openai_api_key_here'

# Databricks credentials
DATABRICKS_HOST='your_databricks_host_here'
DATABRICKS_HTTP_PATH='your_databricks_http_path_here'
DATABRICKS_TOKEN='your_databricks_token_here'
GEMINI_API_KEY='your_gemini_api_key_here'
SLACK_BOT_TOKEN='your_slack_bot_token_here'
